<div class="container pbbig">
    <!-- OUTFIT PART -->
  <% @outfits.each do |outfit| %>
    <div class='outfit-index-card-2 mt-2'>
      <div class="d-flex flex-column">
        <div class="top-bar mb-2">
          <%= image_tag outfit.user.avatar.attached? ? outfit.user.avatar : "photo.png", alt: "alttext", class: 'avatar mr-3' %>
          <div class="user-info">
            <h5><%= link_to "@#{outfit.user.username}", user_path(outfit.user) %></h5>
            <p><%= current_user.outfits.length %> outfits completed</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="d-flex flex-column outfit-photo-2">
            <div class="outfit-photo" style="background-image: url('<%= outfit.photo.attached? ? cl_image_path(outfit.photo.key) : 'photo.png' %>');">
            </div>
            <div class="description_box">
              <% if outfit.event_date && (outfit.event_date - Time.now)/3600 >= 2 %>
                <p><i class="fas fa-history"></i> <%= outfit.time_left %>  left to vote</p>
              <% else %>
                <p>Votes are closed!</p>
              <% end %>
              <p><i class="fas fa-calendar-alt"></i> <%= outfit.event_type&.humanize  || "has not been set" %></p>
              <p><i class="fas fa-walking"></i> <%= outfit.walking_time&.humanize || "0" %></p>
              <p>
               <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Comments
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <%= simple_form_for [outfit, @feedback] do |f| %>
                  <%= f.input :content, label: false %>
                  <%= f.submit "Add a comment", class: "btn btn-primary" %>
                <% end %>
                <% outfit.feedbacks.each do |feedback| %>
                <p><%= feedback.user.username %>: <%= feedback.content %>
                 <%= link_to feedback_path(feedback), method: :delete, remote: :true do  %>
                  <i class="fas fa-minus"></i>
                    <% end %>
                    </p>
                <% end %>
              </div>
            </div>
          </div>
          <div class="f-col">
            <% outfit.shoes.each do |shoe| %>
              <div class="shoe-div" style="background-image: url('<%= shoe.photo.attached? ? cl_image_path(shoe.photo.key) : "" %>')">
                <div class="tl">
                  <span id="shoe-<%= shoe.id %>">
                    <%= shoe.get_likes.count%>
                  </span>
                  <% if current_user.liked? shoe %>
                    <%= link_to like_shoe_path(shoe, "unlike", from: "index"), class: 'red-like', method: :put, remote: :true do  %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                    <% elsif ((Time.now - (outfit.event_date || Time.now))/3600  <= -2) %>
                    <%= link_to like_shoe_path(shoe, "like", from: "index"), method: :put, remote: :true do  %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% else %>
                   <i class="far fa-heart"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% shoes = outfit.shoes %>
            <% unless shoes.empty? %>
            <% shoe_ids = shoes.map(&:id)%>
            <% category_names = shoes.map(&:categories).flatten.map(&:name).uniq%>
            <% recommended_shoe = Shoe.joins(:categories).where.not(id: shoe_ids).where('categories.name in (?)', category_names).uniq.first %>
            <div class="shoe-div reco-shoe" style="background-image: url('<%= recommended_shoe.photo.attached? ? cl_image_path(recommended_shoe.photo.key) : "" %>')">
              <div class="btn-group dropleft dropdown-options">
               <i class="fas fa-ellipsis-v" id="dropdown_menue_shoe_<%= recommended_shoe.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                 <div class="dropdown-menu" aria-labelledby="dropdown_menue_shoe_<%= recommended_shoe.id %>">
                 <%= link_to "Save to Wishlist", shoe_wishes_path(recommended_shoe), class: "edit-user", method: :post %>
                 </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


