<div class="whole_outfit_container">
  <div class="outfit_header">
    <h2>My Outfit</h2>
    <p>Upload up to 3 Shoe images here</p>
  </div>
  <%# card to display outfit pic %>
  <div class="container d-flex justify-content-between p-2">
    <div class="outfit-photo" style="background-image: url('<%= @outfit.photo.attached? ? cl_image_path(@outfit.photo.key) : "" %>')">
      <div class="btn-group dropleft dropdown-options">
        <i class="fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="dropdown-menu">
          <div data-toggle="modal" data-target="#exampleModal">
              <p class='edit-user'>Edit Outfit</p>
          </div>
          <%= link_to "Delete Outfit", outfit_path(@outfit), class:'logout', method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>

      <%# card to display shoe pic %>
    <div class="f-col">
      <% @shoes.first(3).each do |shoe| %>
        <div class="shoe-div" style="background-image: url('<%= shoe.photo.attached? ? cl_image_path(shoe.photo.key) : "" %>')">
          <div class="btn-group dropleft dropdown-options">
            <i class="fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu">
              <%= link_to "Edit your Shoes", edit_outfit_shoe_path(@outfit, shoe), class: "showlinks" %>
              <%= link_to "Delete your shoes", shoe_path(shoe), class: "showlinks", method: :delete, data: { confirm: "Are you sure?" }%>
            </div>
          </div>
        </div>
      <% end %>
      <% length = 3 - @shoes.length %>
      <% length.times do  %>
        <div class="add-shoe-div" data-toggle="modal" data-target="#newshoeModal">
          <h1>+</h1>
        </div>
      <% end %>
      <div class="shoe-div reco-shoe" style="background-image: url('<%= @recommended_shoe.photo.attached? ? cl_image_path(@recommended_shoe.photo.key) : "" %>')">
      </div>
    </div>
  </div>
  <div class="description_box">
    <p>Event date: <%= @outfit.event_date.strftime("%a %d %b %y, %l:%M %p") %></p>
    <p>Event type: <%= @outfit.event_type.humanize %></p>
    <p>Amount of walking: <%= @outfit.walking_time.humanize %></p>
  </div>
</div>

<!-- Link to vote on the index page -->
<div class="container d-flex justify-content-center">
  <%= link_to "Time to Vote!", outfits_path, class:"blue-btn special" %>
</div>
<!-- Modal to edit outfit -->
<div class="modal fade showlinks" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit outfit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render "outfits/edit_form", outfit: @outfit %>
      </div>
    </div>
  </div>
</div>

<!-- Modal to Upload Shoes -->
<div class="modal fade showlinks" id="newshoeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload Shoes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render "shoes/form", outfit: @shoe %>
      </div>
    </div>
  </div>
</div>
