<footer>
  <div class="list-footer">
    <ul>
    <% if current_page?(root_path) %>
      <li class='current-path'>
        <%= link_to root_path do %>
          <%= image_tag 'home.png' %>
        <% end %>
    <% else %>
        <%= link_to root_path do %>
          <%= image_tag 'home.png', class:'other-path' %>
        <% end %>
    <% end %>
        </li>
      <% if current_page?(outfits_path) %>
        <li class='current-path'>
          <%= link_to outfits_path do %>
            <%= image_tag 'feed.png' %>
          <% end %>
      <% else %>
          <%= link_to outfits_path do %>
            <%= image_tag 'feed.png', class:'other-path' %>
          <% end %>
      <% end %>
        </li>
        <li>
      <% if user_signed_in? %>
        <div data-toggle="modal" data-target="#outfitModal">
          <%= image_tag 'plus.png', class:'other-path' %>
        </div>
      <% else user_signed_in? %>
        <div data-toggle="modal" data-target="#outfitModal">
          <%= image_tag 'plus.png', class:'current-path' %>
        </div>
      <% end %>
        </li>
      <% if current_page?(trending_path) %>
        <li class='current-path'>
          <%= link_to trending_path do %>
            <%= image_tag 'flame.png' %>
          <% end %>
      <% else %>
          <%= link_to trending_path do %>
            <%= image_tag 'flame.png', class:'other-path' %>
          <% end %>
      <% end %>
          </li>
      <% if user_signed_in? && !current_page?(user_path(current_user)) %>
        <li>
            <%= link_to user_path(current_user) do %>
              <%= image_tag current_user.avatar.attached? ? current_user.avatar : "user.png", class: "avatar-footer dropdown-toggle", id: "navbarDropdown" %>
            <% end %>
      <% elsif user_signed_in? && current_page?(user_path(current_user)) %>
        <%= link_to user_path(current_user) do %>
              <%= image_tag current_user.avatar.attached? ? current_user.avatar : "user.png", class: "avatar-current-path dropdown-toggle", id: "navbarDropdown" %>
            <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link login-footer border border-dark" %>
        </li>
      <% end %>
    </ul>
  </div>
</footer>


<!-- modal -->
<% if user_signed_in? && @new_outfit %>
<div class="modal fade" id="outfitModal" tabindex="-1" role="dialog" aria-labelledby="outfitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">New outfit</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= render "outfits/form", outfit: @new_outfit, user: current_user %>
      </div>
    </div>
  </div>
</div>
<% end %>
