<footer>
  <div class="list-footer">
    <ul>
      <li>
        <%= link_to "/" do %>
      <%= image_tag 'home.png' %>
      <% end %>
      </li>
      <li>
        <%= link_to "/" do %>
          <%= image_tag 'photo.png' %>
        <% end %>
      </li>
      <li>
        <%= link_to outfits_path do %>
          <%= image_tag 'social-media.png' %>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li>
            <%= link_to user_path(current_user) do %>
              <%= image_tag current_user.avatar.attached? ? current_user.avatar : "user.png", class: "avatar dropdown-toggle", id: "navbarDropdown" %>
            <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</footer>
