<div class="home">
  <div class='header' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('banner.jpeg') %>)">
      <div class="header-text">
      <h1>Shoes-Me</h1>
      <button type="button" class="blue-btn" data-toggle="modal" data-target="#learnhere">
        Learn More Here!
      </button>
      </div>
  </div>
  <div class="home-bottom">
    <div class="home-call">
      <%= link_to "/" do %>
        <%= image_tag 'photo.png' %>
      <% end %>
      <h3>Upload Photo</h3>
      <br>
      <br>
      <%= link_to outfits_path do %>
        <%= image_tag 'social-media.png' %>
      <% end %>
      <h3>Vote</h3>
      <br>
      <br>
      <p>Need help picking the right pair? We'll help you choose a new pair or our users will cast their votes on yours!</p>
    </div>
  </div>
</div>

<!-- modal2 -->

<div class="modal fade" id="learnhere" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">How it works</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ol>
          <li>Upload your outifit image & up to 3 shoe images </li>
          <li>We'll recommend a 4th option for you</li>
          <li>Our users will vote on the pair that best suits your outfit</li>
          <li>You can choose to buy the recommended pair or save it to your wishlist and buy later</li>
          <li>Look fabulous knowing that you have the votes of many users on your final look!</li>
        </ol>
      </div>
      <div class="modal-footer">
        <% if user_signed_in? %>
          <%= link_to "See all the outfits!", outfits_path, class: "blue-btn"  %>
        <% else %>
          <%= link_to 'Sign up here', new_user_registration_path, class: "nav-log" %>
        <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>















